/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background: linear-gradient(135deg, #6a9fb5, #4a7683); /* Daha yumuşak mavi tonları */
    color: white;
    padding: 50px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #f0a500; /* Daha pastel tonlarında turuncu */
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
    display: inline-block;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #d47b00; /* Daha yumuşak bir ton */
    border-radius: 5px;
}

.section {
    padding: 50px 20px;
}

h2 {
    color: #444;
}

p {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}
